@import 'sources/styles/variables.scss';

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Gradient 15s ease infinite;
  background: linear-gradient(-45deg, rgb(214, 214, 214), rgb(255, 255, 255), rgb(206, 206, 206), rgb(247, 247, 247));
	background-size: 400% 400%;

  span {
    font-size: 25px;
    color: #ffffff;
    font-family: $defaultFont;
  }
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}