.search {
  margin-bottom: 50px !important;
}

.posts {
  column-count: 4;
  column-gap: 25px;
  column-fill: balance;
  flex: 1;

  > a {
    width: 100%;
    margin-bottom: 25px;
    break-inside: avoid;
    display: inline-block;
  }
}